@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Roboto", sans-serif;
}

.day-card {
  background: linear-gradient(106deg, #83b2fa 36.87%, #4b9de7 68.5%);
}

.night-card {
  background: linear-gradient(106deg, #424b5a 36.87%, #081d30 68.5%);
}

.apexcharts-xaxis-label {
  user-select: none;
}

.mix-weather-card {
  background: linear-gradient(106deg, #453856 36.87%, #260745 68.5%);
}

.pollen-mod {
  background: linear-gradient(
    100deg,
    rgba(252, 211, 77, 0.31) 7.86%,
    rgba(251, 191, 36, 0.62) 33.89%,
    #fb923c 63%,
    #f97316 96%
  );
}

.pollen-low {
  background: linear-gradient(
    100deg,
    rgba(163, 230, 53, 0.31) 13.25%,
    rgba(132, 204, 22, 0.62) 35.61%,
    #65a30d 63%,
    #4d7c0f 96%
  );
}

.pollen-high {
  background: linear-gradient(
    100deg,
    rgba(234, 88, 12, 0.31) 12.55%,
    rgba(220, 38, 38, 0.62) 35.07%,
    #b91c1c 63%,
    #991b1b 96%
  );
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  width: max-content !important;
  height: max-content !important;
  top: var(--swiper-pagination-top, 470px) !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}

.swiper-pagination-bullet {
  width: var(
    --swiper-pagination-bullet-width,
    var(--swiper-pagination-bullet-size, 10px)
  ) !important;
  height: var(
    --swiper-pagination-bullet-height,
    var(--swiper-pagination-bullet-size, 10px)
  ) !important;
}

.swiper-pagination-bullet-active {
  background: #737373 !important;
}
